<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adithyaupadhya.newtorkmodule">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.bumptech.glide.integration.volley.VolleyGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>
